<div class="container">

  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="q" value="" maxlength="500" id="searchtext" class="form-control" placeholder="Que recherchez-vous ?">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control" id="categories">
            <option value="">Catégories</option>
            <option value="2">Automobile</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <button type="submit" id="btn-search" class="btn btn-primary">Rechercher</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <select class="form-control" id="region">
          <option value="">Départements</option>
          <% @department.each do |dep| %>
              <option value="<%= dep.departement_codes %>"><%= dep.departement_nom %></option>
          <% end %>
        </select>
      </div>
      <div class="col-md-3">
        <select class="form-control" id="ville">
          <option value="">Villes</option>
          <option value="1">Ille-et-Vilaine</option>
          <option value="2">Finistére</option>
          <option value="3">Manche</option>
          <option value="4">Calvados</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <button type="button" id="sort-date" class="btn btn-sort-date">Date <span class="glyphicon glyphicon-minus"></span></button>
        <button type="button" id="sort-prix" class="btn btn-sort-prix">Prix <span class="glyphicon glyphicon-minus"></span></button>
      </div>
    </div>
  </div>
  <div class="row" id="ad-show">
    <% @ads.each do |ad| %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><%= ad.title %></div>
            <div class="panel-body">
              <img src="" alt="image"/>
              <br/>
              <p style="text-align: right">Prix : <b><%= ad.price %> €</b></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
